{% extends "home.html" %}

{% block content %}
   <header>
        </div>
        <div class="button-container">
            <a href="{{ url_for('routes.logout') }}">Logout</a>
        </div>
   </header>
    <h1>Employment Contract Generator</h1>
    <h2>Welcome to the Dashboard</h2>
    <form action="{{ url_for('routes.dashboard') }}" method="post">
    <h3>What type of employment contract would you like to generate?</h3>
    <div class="dropdown">
        <button class="dropdown-button">Dropdown button</button>
        <div class="dropdown-content">
            <a href="#">Full-Time</a>
            <a href="#">Part-Time</a>
            <a href="#">Freelance</a>
        </div>
    </form>

{% endblock %}