<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Employment Contract Generator{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Employment Contract Generator</h1>
        {% if not hide_buttons %}
        <div class="button-container">
            <a href="{{ url_for('routes.login') }}">Login</a>
            <a href="{{ url_for('routes.signup') }}">Sign Up</a>
        </div>
        {% endif %}
    </header>
    <main>
        {% block content %}
        <h2>This is a Flask-based API that allows users to generate employment contracts.</h2>
        <h2>Users can choose from three types of contracts: Full-Time Employment, Part-Time Employment, and Freelance Contract.</h2>
        <h2>The application uses JWT for authentication and PostgreSQL for data storage.</h2>
        {% endblock %}
    </main>
    <footer>
        This application was developed with a lot of love by Lais Domiciano
    </footer>
</body>
</html>
